{{#if hasLanding}}
	{{> landing_modal}}
{{/if}}

<div class="container">

	<div class="row" id="isotope-stories">

		{{#each stories}}
		  <div class="story col-sm-4">
		    <div class="story-thumbnail">
		    	<a href="/story/{{_id}}">
		      <img src={{image1}} class="img-responsive">
		      <div class="caption">
		        <h3>
		        	{{title}}
		        	<span class="pull-right">
		        		<i class="fa fa-users"></i> {{stand_with_count}}
		        	</span>
		        </h3>
		        <p class="first-sentence">{{first paragraphs}}</p>
		      </div>
			    </a>
		    </div>
		  </div>

		{{#if add_clearfix_after}}
				<!-- <div class="clearfix"></div> -->
		{{/if}}

		{{/each}}

	</div>

</div>
