{{#story}}
<h1>{{title}}</h1>
<b> Created on: </b> {{created_date}} <br/>
<b> Updated on: </b> {{updated_date}} <br/>

<div class="story">
	<img src="{{image2}}" class="img-responsive">
	{{#each paragraphs}}
		<p> {{this}} </p>
	{{/each}}
</div>
{{/story}}

<!-- TODO: Include the social buttons -->